*.log
*.tsv
*.json
*WorkingHours.pcap
scripts/PacketsHandler/PacketsModule/__pycache__/*
scripts/PacketsHandler/__pycache__/*
scripts/PacketsHandler/UI/__pycache__/*
scripts/PacketsHandler/docs/_build/*