*.log
*.tsv
*.json
*.csv
*.xes
*WorkingHours.pcap
scripts/ConnectionsAnomalyDetector/ConnectionsModule/__pycache__/*
scripts/ConnectionsAnomalyDetector/DiscretizerModule/__pycache__/*
scripts/ConnectionsAnomalyDetector/__pycache__/*
scripts/ConnectionsAnomalyDetector/UI/__pycache__/*
scripts/ConnectionsAnomalyDetector/docs/_build/*
outputs/
output/
*/*.pyc